# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment and sensitive keys
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Uploads & Temp
uploads/
**/uploads/
scratch/
**/scratch/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
